*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
img{
    max-width: 100%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.flex{
    display: flex;
}
.cl1{
    color: white;
}
.cl2{
    color: #5a459cb3;
}
/*  */

.box1{
    height: 50px;
    width: 15%;
    border: 3px solid #5a459cb3;
    border-radius: 50%;
    background: white;
    margin-top: -21px;

}
.box2{
    height: 64px;
    width: 20%;
    border-radius: 50%;
    background:#5a459cb3;
    margin-top: -21px;
    margin-left: -15px;

}
.box3{
    height: 50px;
    width: 25%;
    border: 3px solid #5a459cb3;
    border-radius: 50%;
    background:#5a459cb3;
    margin-top: -21px;

}
.box4{
    height: 50px;
    width: 5%;
    border: 3px solid #5a459cb3;
    border-radius: 50%;
    background: white;
    margin-top: -21px;

}
.box5{
    height: 50px;
    width: 25%;
    border: 3px solid #5a459cb3;
    border-radius: 50%;
    background: white;
    margin-top: -21px;

}
.box6{
    height: 50px;
    width: 10%;
    border: 3px solid #5a459cb3;
    border-radius: 50%;
    background:#5a459cb3;
    margin-top: -21px;

}
/*  */
.container{
    margin-top: 60px;
}
.sh-img img{
    width: 130px;
    height: 130px;
    border: 1px solid bisque;
    border-radius: 50%;
    position: absolute;
    margin-top: -66px;
    margin-left: 51px;
    
}
.shared-left{
    width: 50%;
    height: 350px;
    background: #5a459cb3;
    text-align: center;
    border-radius: 26px;
}
.shared-right{
    text-align: center;
    margin-left: 80px;
}
.left-item1{
    margin-top: 70px;
}
.left-item{
    margin-top: 20px;
}
/*  */
.foot-box1{
    height: 50px;
    width: 15%;
    border: 3px solid #5a459cb3;
    border-radius: 50%;
    background: white;

}
.foot-box2{
    height: 64px;
    width: 20%;
    border-radius: 50%;
    background:#5a459cb3;
    margin-top: -21px;
}
.foot-box3{
    height: 50px;
    width: 25%;
    border: 3px solid #5a459cb3;
    border-radius: 50%;
    background:#5a459cb3;

}
.foot-box4{
    height: 50px;
    width: 5%;
    border: 3px solid #5a459cb3;
    border-radius: 50%;
    background: white;

}
.foot-box5{
    height: 50px;
    width: 25%;
    border: 3px solid #5a459cb3;
    border-radius: 50%;
    background: white;

}
.foot-box6{
    height: 50px;
    width: 10%;
    border: 3px solid #5a459cb3;
    border-radius: 50%;
    background:#5a459cb3;

}