
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background: linear-gradient(to right,#4daf54,#3d8880);
}
.chung{
    display: flex;
    flex-wrap: wrap;
    margin-top: -20px;
}
.card{
    margin: 120px auto;
    width: 320px;
    height: 400px;
    background-color: #272d40;
    padding: 20px;
    border-radius: 15px;
    color: white;
    position: relative;
}
.card_hear, .card_cart{
  font-size: 25px;
  position: absolute;
  left: 20px;
  top: 15px;
}
.card_cart{
    left: unset;
    right: 20px;
}
.card_img{
    width: 90%;
    transition: 0.5s;
}
.card_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card_title,.card_price{
    font-size: 25px;
    font-weight:bold;
    text-align: center;
    transition: 0.5s;
}
.card_title{
  color:#4daf54;
}
.card_size,.card_color{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.card_size span{
  padding: 1px 10px;
  background: #dadada;
  color: black;
  border-radius: 5px;
  margin: 0px 5px;
}
.card_color span{
     width: 15px;
     height: 15px;
     border-radius: 50%;
     margin: 0 5px;
}
.card_color--green{
    background: green;
}
.card_color--red{
   background: red;
}
.card_color--black{
    background: black;
}
.card_action button{
  background:  #4daf54;
  border: none;
  outline: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  margin-right: 10px;
}
.card_action button:hover{
    transform: scale(0.9);
}
.card:hover .card_img{
    transform:translateY(-90px) rotate(-20deg);
}
.card:hover .card_title{
  transform: translate(-38px , -72px);
}
.card:hover .card_price{
    transform: translate(-117px ,-72px);
}
.card_size{
    margin-top: 150px;
}
.card_size,.card_color, .card_action{
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.4s;
}
.card:hover .card_size,
.card:hover .card_color,
.card:hover .card_action{
    visibility: visible;
    opacity: 100;
}
.card:hover .card_size{
    margin-top: 0px;
}
/*  */
.chung1{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: -100px;
}

.card-list{
    background: #242628;
    height: 400px;
    width: 300px;
    border-radius: 10px;
    object-position: center;
    text-align: center;
    overflow: hidden;
  
}
.img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.card_imgta{
    height: 120px;
    width: 120px;
    border: 4px solid #f2726a;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    transform: translateY(25px);
    transition: 0.5s;
    
}
.card-list h2{
    margin-top: 30px;
}
.card-list p{
    color: #f2726a;
}
.card_social{
    margin: 25px 0;
}
.card_social a{
  color: white;
  margin: 25px 20px;
  font-size: 20px;
}
.card_social a:hover{
    background: #f2726a;
    cursor:grab;
}
.butin{
    width: 150px;
    height: 40px;
    border: 2px solid #f2726a;
    border-radius: 10px;
    background: transparent;
    color: white;
    transition: 0.5;
    margin-top: 25px;
}
.butin:hover{
    background: #f2726a;
    cursor:grab;
}
.card_imgta:hover{
    width: 100%;
    height: 100%;
    border-radius: unset;
    transform: unset;
    border: none;

}