* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* heard */
.contai {
    max-width: 1220px;
    margin: 0;
    background-color: #ffffff;
     padding-top: 10px; 
    position: relative;
    top:0;

}
.contai-menu{
    width: 960px;
    margin-left: auto;
    display: flex;
    padding-left: 53px;
}
.menu{
    display: flex;
    margin-top: 20px;
}
.menu-item {
    padding-bottom: 10px;
}
li{
    color: rgba(0, 0, 0, 0.685);
    padding: 10px;
    display: list-item;
    
}

ul {
    list-style: none;
    background-color: #ffffff;
}
button {
    background-color: #ffffff;
    border: 0;
    margin-top: 28px;
}
.size {
    font-size: 20px;
    padding: 10px;
}
i {
    font-style: italic;
}
.call {
    background-color: orange;
    color: #ffffff;
    padding: 15px 20px;
    margin-left: 40px;
}
.image{
    float: left;
    padding-left: 130px;
   
}
 .menu:hover{
    background-color: #ddd;
   
}
 
/* slider */
.slider{
    height: 320px;
    background-color: #ffffff04;
     z-index: -1; 
    flex-wrap: wrap;
    position: relative;
    align-items: flex-end;
   display: flex;
}

.card {
    height: 320px;
    background-color: #000;
    top: 0;
    left: 0;
    z-index: 1;
    position: absolute;
}
.card-list{
    float: none;
}
.cap-list1 {
    top: 25%;
    left: 195px;
    color: #ffffff;
    z-index: 2;
    position: absolute;
}
.cap-list2 {
    bottom: -20px;
    right: 118px;
    background-color: orange;
    padding: 11px 11px;
    z-index: 2;
    position: absolute;
}
.taitem:hover{
    background-color: yellow;
}

/* container */
.container {
    max-width: 1220px;
    margin: 0;
    background-color: #ffffff;
    padding-left: 290px;
   
}
.container-list{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    gap: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    position: relative;
   display: flex;
}
.container-list-item{
    padding-bottom: 10px;
    width: 270px;
    position: relative;
}
.container-list-item img{
    width: 100%;
}
.taitem{
    background-color: #ffffff;
    width: 50px;
    height: 40px;
    top: 0;
    left: 0;
    transform: translate(20%, 20%);
    position: absolute;
    align-items: center;
    justify-content: center;
    float:left;
}
.tuding{
    padding: 12px 10px;
    color: orange;
}
h3, p {
    padding-bottom: 10px;
}
 p {
    color: rgba(0, 0, 0, 0.384);
}