* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.container {
    display: grid;
  grid-template-columns: auto auto auto;
  background-color:white;
  padding: 5px;
  justify-content: center;
   gap: 10px 16px;
}
.course-list {
    
    display: flex;
    flex-wrap:wrap;
    gap: 30px;
}
.mnenu{
    width: 280px;

    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgb(0 0 0 / 15%);
}
.ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blueviolet;
}
.li{
    float: left;
}
.de{
    display:inline-block;
    color: white;
    align-content: center;
    padding: 14px 16px;
    text-decoration:none;
}
