*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{

  font-family: Arial, Helvetica, sans-serif;
}
/* common */
.clear{
  clear: both;
}
.text-white{
  color: #fff !important;
}
.text-center{
  text-align: center !important;
}
.mt-8{
  margin-top: 8px !important;
}
.mt-16{
  margin-top: 16px !important;
}
.row{
  margin-left: -8px;
  margin-right: -8px;
}
.row::after{
  content: "";
  display: block;
  clear: both;
}
.col{
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}
.col-half{
  width: 50%;
}
.col-third{
  width: 33.3333%;
}

.col-full{
  width: 100%;
}
/* main */
.mand{
 
}
.heard{
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
#nav{
  display:inline-block ;
}
#nav, .subnav{
   list-style-type: none;
}
#nav> li {
  display: inline-block;
}

#nav li {
 
  position: relative;
}
#nav>li>a{
  color: #fff;
  text-transform: uppercase;
}
#nav li a {

  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: block;
}
#nav li:hover .subnav {
  display: block;
}

#nav >li:hover >a,
#nav .subnav li:hover a {
      color: #000;
      background-color: #ccc;
}

#nav .subnav{
  display: none; 
  min-width: 160px;
  position: absolute;
  top:100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgb(0, 0, 0 , 0.3);
}
#nav .subnav a{
  color: #000;
  padding: 0 12px;
  line-height: 38px;
}
#nav.nav-dow{
  font-size: 14px;
}
.heard .searc-btn{
  float: right;
  padding: 0 21px;
  cursor: -webkit-grab;
}

.heard .searc-btn:hover {
  background-color: #f44336;
}

.heard .searc-icon{
  color: #fff;
  font-size: 20px;
  line-height: 46px;
}
.slider{
  height: 400px;
  background: green;
  position: relative;
  margin-top: 46px;
  padding-top:50% ;
  background: url(https://www.w3schools.com/w3css/img_la.jpg)top center/ cover no-repeat;
 
}
.slider .text-conter{
    position: absolute;
    bottom: 47px;
    color: #fff;
    left: 40%;
    transform: translateY(-50%);
    text-align: center;
}
.slider .text-padding{
  font-weight: 500;
  font-size: 24px;
}
.slider .text-vanban{
  font-size: 15px;
  margin-top: 25px;
}

 .container{
  height: 100px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  
}
.container .content-section{
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
   padding-left: 16px;
   padding-right: 16px;

}
.container .section-headding{
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 4px;
}
.container .section-sub-headding{
 font-size: 15px;
 text-align: center;
 margin-top: 25px;
 font-style: italic;
 opacity: 0.6;
}
.container .about-text{
  font-size: 15px;
  margin-top: 25px;
  text-align:justify;
  line-height: 1.4;
  
}
.container .tem-list{
  margin-top: 48px;
}

.container .tem-name{
  font-size: 15px;
}
.container .tem-img{
   width: 154px;
  margin-top: 15px;
  border-radius: 5px;
}
.tour{
  background-color: #000;
  width: 1519px;
  margin-left: -360px;

  
}
.ve-list{
  background-color: #fff;
  margin-top: 40px;
}
.ve-list li{
  color: #757575;
 font-size: 15px;
 padding: 11px 16px;
border-bottom: 1px solid #ddd;
list-style: none;

}
.ve-list .sold-out{
  background-color: #f44336;
  color: #fff;
  padding: 3px 4px;
  margin-left: 16px;
}
.ve-list .so{
   float: right;
   width: 24px;
   height: 24px;
   background-color: #000;
   color: #fff;
   border-radius: 50%;
   text-align: center;
   line-height: 24px;
}

.play-list{
 margin-top: 32px;
 
}

.play-img{
  width: 100%;
  display: block;
}
.play-img:hover{
 opacity: 0.6;
}

.play-body{
  padding: 16px;
  font-size: 15px;
  background-color: #fff;
}

.play-headding{
   font-size: 15px;
   font-weight: 600;
}

.play-tame{
  margin-top: 15px;
  color: #757575;
}

.play-decse{
  margin-top: 15px;
  line-height: 1.4;
}
.play-buy-btn{
  color: #fff;
  background-color: #000;
  text-decoration: none;
  padding: 11px 16px;
  display: inline-block;
  margin-top: 15px;
}
.play-buy-btn:hover{
  color: #000;
  background-color: #ccc;
}

 .modal{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgb(0, 0, 0 , 0.4);
  display: none;
  align-items: center;
  justify-content:center;
}
.modal-conter{
  background-color: #fff;
  width: 900px;
  max-width: calc(100%-32px);
  min-height: 200px;
  position: relative;
}
.modal-close:hover{
  opacity: 1;
}
.modal-close{
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  padding: 12px;
  cursor: grabbing;
  opacity: 0.8;
}
.modal-heard{
  background: #009688;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #fff;
}
.nut-icon{
  margin-right: 20px;
}

.modal-body{
  padding: 16px;
}
.modal-label{
  display: block;
  font-size: 15px;
  margin-bottom: 12px;
}
.modal-input{
  border: 1px solid #ccc;
  width: 100%;
  font-size: 15px;
  padding: 10px;
  margin-bottom: 24px;
}
#buy-tickets{
  background: #009688;
  border: none;
  color:#fff;
  width: 100%;
  font-size: 15px;
  text-transform: uppercase;
  padding: 18px;
  cursor: grabbing;
}
#buy-tickets:hover{
  opacity: 0.9;
}
.modal-footer{
  padding: 16px;
  text-align: right;
}
.modal-footer a{
  color: #2196f3;
}  

/* concatc from */
.concact-conten{
  margin-top: 48px;
}
.infor{
  font-size: 18px;
  line-height: 1.4;
}
.infor i[class*="bi-"]{
  width: 30px;
  display: inline-block;
}
.nutifrom{
  font-size: 15px;
}
.nutifrom .from-control{
padding: 10px;
border: 1px solid #ccc;
width: 100%;
}


 .nutifrom .from-submit-btn{
background-color: #000;
color:#fff;
border: 1px solid #000;
padding: 10px 16px;
float: right;
}
.from-submit-btn:hover{
  color: #000;
  background-color: #ccc;
  cursor: -webkit-grab;
} 

/* MAP-SECTION */

 .map-section img{
  width: 1519px;
  margin-left: -360px;
  } 
.footer{
    padding: 64px 16px;
    text-align: center;
  }
.footer  .social{
   font-size: 24px;
  }
.footer .social a{
  color: rgb(0, 0, 0 , 0.6)
  }
.footer .social a:hover,
.footer .copyright a:hover{
    color: rgb(0, 0, 0 , 0.3); 
    cursor: -webkit-grab;
  }

.footer .copyright{
    margin-top: 15px;
    color: rgb(0, 0, 0 , 0.6); 
  }
.footer .copyright a{
    color: rgb(0, 0, 0 , 0.6); 
  }  

  