.menu {
    color: white;
    text-decoration: none;
    background: black;
    padding: 5px;
    width: 300px;
    height: 250px;
    text-align: center;
    font-size: 40px;
    }
    .menu:hover {
    background: yellow;
    color: red;
    }
    .menu:active {
    background: green;
    }
   