body{
    background-color: aqua;
}
.wavy-text{
    
    background-color: aquamarine;
}
.wavy-text .text{
 animation: fly 0.8s linear 0s infinite normal both;
}
@keyframes fly{
    from ,to{
        transform: translateY(0);
    }
50%{
    transform: translateY(150%);
}
}